@charset "utf-8";

body {
    background-image: url(back.jpg) ;
}

button {
    color: #333;
}

.list_btn {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;

    margin: 5px;

    font-size: 16px;
    padding: 0;
    margin: 10px;
}

.hidden {
    display: none;
}

.search_box {
    position: absolute;
    right: 10px;
    top: 10px;
}

.main {
    margin-left: 15px;
}

#manga_list,
#nobel_list {
    padding-left: 20px;
    margin-top: 8px;
}

h2 {
    font-size: 22px;
    margin-bottom: 0;
    margin-left: 15px;
    font-weight: bold;
}

.manga_h2 {
    margin-top: 40px;
}

.check_btn {
    margin-right: 10px;
    margin: 5px 10px 5px 0;
}

.left_pos {
    margin: 0;
    position: absolute;
    left: 110px;
}

#add_edit_btn {
    margin-bottom: 15px;
}

.tomain {
    margin-bottom: 100px;
}

.top_btn {
    margin: 7px;
}

.top_menu{
    width: 120px;
    text-align: center;
}

.sub_btn {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;

    font-size: 16px;
    margin: 5px;
}

#add_edit_btn,
#tomain {
    width: 320px;
    text-align: center;
}

.sub_menu {
    margin-left: 40px;
}

.edit_title{
    margin-bottom: 6px;
}

#book_title {
    margin-left: 35px;
}

#add_harf_box {
    margin-bottom: 15px;
}